
@{
    ViewData["Title"] = "NewDeliveryPackage";
    Layout = "~/Views/Shared/_LayoutSeller.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/newDeliveryPackage.css" asp-append-version="true" />
</head>
<body>
    <div class="back">
        @* this can be replace by go back to previous page, dk how to do yet. Can back to index or delivery package *@
        <a asp-area="" asp-controller="Seller" asp-action="Index" class="icon">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
            Back
        </a>
    </div>
    @* <div class="progressBarContainer">
        <div class="progressBar">
            <div class="progressStep" data-title="Choose Order"></div>
            ▶ 
            <div class="progressStep" data-title="Choose Route"></div>
             ▶ 
            <div class="progressStep" data-title="Package Created"></div>
        </div>
    </div> *@
    <div class="progressBarContainer">
        <div class="progressBar">
            <div class="progress" id="progress"></div>
            <div class="step">
                <div class="circle active">
                    1
                </div>
                Choose Order
            </div>
            <div class="step">
                <div class="arrow">
                    <div class="iconArrow">
                        ▶
                    </div>
                    <div class="circle">
                        2
                    </div>
                </div>
                Choose Route
            </div>
            <div class="step">
                <div class="arrow">
                    <div class="iconArrow">
                        ▶
                    </div>
                    <div class="circle">
                        3
                    </div>
                </div>
                Package Created
            </div>  
        </div>
    </div>
    <div class="content">
		<div id="step1" class="create-step create-step-active">
            <h3>Orders Available</h3>
            <div class="orders">
                <div class="form order">
                    <div class="title">
                        <span>ORDER ID</span>
                        <div class="line"></div>
                    </div>
                    <div class="info">
                        <div>
                            <label><b>Purchase Amount: </b></label><label>RM123.45</label>
                        </div>
                        <div>
                            <label><b>Purchase Date: </b></label><label>@DateTime.Today.ToString()</label>
                        </div>
                        <div>
                            <label><b>Delivery Address: </b></label><label>14, Persiaran Pantai Jerjak 4, 11900 Bayan Lepas, Pulau Pinanag</label>
                        </div>
                        <div>
                            <input type="submit" value="Order Details" class="openDetails" onclick="openPopUp()" />
                        </div>
                    </div>
                    <div class="pick">
                        <button class="icon btnPick">
                            PICK
                        </button>
                    </div>
                </div>
                <div class="form order">
                    <div class="title">
                        <span>ORDER ID</span>
                        <div class="line"></div>
                    </div>
                    <div class="info">
                        <div>
                            <label><b>Purchase Amount: </b></label><label>RM123.45</label>
                        </div>
                        <div>
                            <label><b>Purchase Date: </b></label><label>@DateTime.Today.ToString()</label>
                        </div>
                        <div>
                            <label><b>Delivery Address: </b></label><label>14, Persiaran Pantai Jerjak 4, 11900 Bayan Lepas, Pulau Pinanag</label>
                        </div>
                        <div>
                            <input type="submit" value="Order Details" class="openDetails" onclick="openPopUp()" />
                        </div>
                    </div>
                    <div class="pick">
                        <button class="icon btnPick">
                            PICK
                        </button>
                    </div>
                </div>
                <div class="form order">
                    <div class="title">
                        <span>ORDER ID</span>
                        <div class="line"></div>
                    </div>
                    <div class="info">
                        <div>
                            <label><b>Purchase Amount: </b></label><label>RM123.45</label>
                        </div>
                        <div>
                            <label><b>Purchase Date: </b></label><label>@DateTime.Today.ToString()</label>
                        </div>
                        <div>
                            <label><b>Delivery Address: </b></label><label>14, Persiaran Pantai Jerjak 4, 11900 Bayan Lepas, Pulau Pinanag</label>
                        </div>
                        <div>
                            <input type="submit" value="Order Details" class="openDetails" onclick="openPopUp()" />
                        </div>
                    </div>
                    <div class="pick">
                        <button class="icon btnPick">
                            PICK
                        </button>
                    </div>
                </div>
                <div class="form order">
                    <div class="title">
                        <span>ORDER ID</span>
                        <div class="line"></div>
                    </div>
                    <div class="info">
                        <div>
                            <label><b>Purchase Amount: </b></label><label>RM123.45</label>
                        </div>
                        <div>
                            <label><b>Purchase Date: </b></label><label>@DateTime.Today.ToString()</label>
                        </div>
                        <div>
                            <label><b>Delivery Address: </b></label><label>14, Persiaran Pantai Jerjak 4, 11900 Bayan Lepas, Pulau Pinanag</label>
                        </div>
                        <div>
                            <input type="submit" value="Order Details" class="openDetails" onclick="openPopUp()" />
                        </div>
                    </div>
                    <div class="pick">
                        <button class="icon btnPick">
                            PICK
                        </button>
                    </div>
                </div>
                <div class="form order">
                    <div class="title">
                        <span>ORDER ID</span>
                        <div class="line"></div>
                    </div>
                    <div class="info">
                        <div>
                            <label><b>Purchase Amount: </b></label><label>RM123.45</label>
                        </div>
                        <div>
                            <label><b>Purchase Date: </b></label><label>@DateTime.Today.ToString()</label>
                        </div>
                        <div>
                            <label><b>Delivery Address: </b></label><label>14, Persiaran Pantai Jerjak 4, 11900 Bayan Lepas, Pulau Pinanag</label>
                        </div>
                        <div>
                            <input type="submit" value="Order Details" class="openDetails" onclick="openPopUp()" />
                        </div>
                    </div>
                    <div class="pick">
                        <button class="icon btnPick">
                            PICK
                        </button>
                    </div>
                </div>
            </div>
            <div class="willDeliver">
                <label><b>Will Deliver: </b></label>
                <label>Order ID, Order ID, Order ID</label>
            </div>
            <div class="findRoute">
                <button class="btnPrimary btnFindRoute" id="next">
                    Find Delivery Route
                </button>
            </div>
        </div>
		<div id="step2" class="create-step">
			<h3>Find Delivery Route</h3>
			<div class="flex">
				<div class="createPackageInfo">
                    <div class="genericInputField form algo">
                        Method:
						<select>
                            <option value="pso"><b>PSO</b></option>
                            <option value="ga"><b>GA</b></option>
                        </select>
                    </div>
                    <div class="orderSelected form">
                        <div class="orderHeader">
                            <span><b>Delivery ID</b></span>
                        </div>
						<div class="line"></div>
                        <div class="orderList">
                            <ul>
                                <li>Order ID</li>
                                <li>Order ID</li>
                                <li>Order ID</li>
                                <li>Order ID</li>
                            </ul>
                        </div>
                    </div>
                </div>
				<div class="map">
					<div class="form">
                        map showing the route
                    </div>
                </div>
            </div>
            <div class="route">
                <label>Delivery Route: </label>
                <div class="icon">
                    Order ID
                    <span class="material-symbols-outlined">
                        arrow_forward
                    </span>
                    Order ID
                    <span class="material-symbols-outlined">
                        arrow_forward
                    </span>
                    Order ID
                    <span class="material-symbols-outlined">
                        arrow_forward
                    </span>
                    Order ID
                </div>
            </div>
            <div class="createPackage">
                <button class="btnPrimary btnChooseOrder" id="pre">
                    Choose Orders
                </button>
                <button class="btnPrimary btnCreatePackage" id="next">
                    Create Package
                </button>
            </div>
        </div>
    </div>
    <div class="popUpContainer" id="popUpContainer">
        <div class="popUp" id="popUp">
            <div class="form-header">
                <a class="icon" onclick="closePopUp()">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </a>
                <h1>ORDER ID</h1>
                @* add to make it display center *@
                <div class="none">
                    display
                </div>
            </div>
            <div class="line"></div>
            <div class="orderInfo">
                <p>Purchase Date: @DateTime.Today.ToShortDateString()</p>
                <p>Puchase Amount: RM 123.45</p>
            </div>
            <div class="table">
                <table>
                    <tr>
                        <th class="productColumn">PRODUCT NAME</th>
                        <th class="quantityColumn">QUANTITY</th>
                        <th class="unitPriceColumn">UNIT PRICE</th>
                        <th class="totalColumn">TOTAL</th>
                    </tr>
                    <tr>
                        <td>Maggie</td>
                        <td>10</td>
                        <td>1</td>
                        <td>10</td>
                    </tr>
                </table>
            </div>
            <div class="close">
                <a class="icon btnPrimary btnClose" onclick="closePopUp()">
                    CLOSE
                </a>
            </div>
        </div>
    </div>
    <script src="~/js/popUp.js" asp-append-version="true"></script>
    <script src="~/js/createPackage.js" asp-append-version="true"></script>
</body>
</html>

